<div *ngIf="status" class="alert text-center"
    [ngClass]="{'alert-success' : status == 'Salvo com sucesso!', 'alert-warning' : status == 'Processando ...'}"
    role="alert">
    {{status}}
</div>
<div class="card">
    <div class="card-header">
        Formulário Produtos
    </div>
    <div class="card-body">
        <div class="form-group">
            <div *ngIf="model.id" class="row mb-3">
                <div class="col-2">
                    <label for="field-id" class="form-label">Código</label>
                    <input type="text" class="form-control" id="field-id" [(ngModel)]="model.id">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="field-descricao" class="form-label">Descrição</label>
                    <input type="text" class="form-control" id="field-descricao" [(ngModel)]="model.descricao">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label for="field-unidade" class="form-label">Unidade</label>
                    <select class="form-select" id="field-unidade" [(ngModel)]="model.unidade">
                        <option value="UN">UN</option>
                        <option value="CX">CX</option>
                        <option value="PCT">PCT</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="field-preco" class="form-label">Preço</label>
                    <input type="number" step="0.01" class="form-control" id="field-preco" [(ngModel)]="model.preco">
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-success mr-1" (click)="salvar()">Salvar</button>
                    <button class="btn btn-danger" [routerLink]="['/produtos']">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>